<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <link rel="preload" href="/fonts/montserrat-variable.ttf" as="font" type="font/ttf" crossorigin />
    <title>Content Manager</title>
    <style>
        @font-face {
            font-family: 'Monserrat';
            src: url('/fonts/montserrat-variable.ttf') format('woff');
            font-style: normal;
            font-display: swap;
        }

        body {
            --sui-font-family-default: 'Monserrat';
            --sui-font-weight-normal: 400;
        }
    </style>
</head>
<body>
<script src="https://unpkg.com/@sveltia/cms/dist/sveltia-cms.js" type="module"></script>
</body>
</html>
