---
const { href, ...rest } = Astro.props;
---

{(typeof href === "undefined")?
    <span class="live" {...rest}>
      <div class="icon"></div>
      <slot />
    </span>
  :
    <a {href} class="live" {...rest}>
      <div class="icon"></div>
      <slot />
    </a>
}


<style>
  .live {
    text-decoration: none;
    background: black;
    border-radius: 10000px;
    padding: 0.2rem 1rem;
    color: white;
    border: 2px solid var(--accent);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  a.live:hover {
    filter: brightness(0.7);
  }

  .live .icon {
    width: 0.75rem;
    height: 0.75rem;
    position: relative;
    background-color: var(--accent);
    display: block;
    border-radius: 50%;
  }

  .live .icon::before {
    content: "";
    display: block;
    inset: 0;
    background-color: var(--accent);
    border-radius: 50%;
    position: absolute;
    animation:
      scale 2s infinite ease-out,
      opacity 2s infinite ease-in;
  }

  @keyframes scale {
    from { transform: scale(1);   }
    to   { transform: scale(2.5); }
  }

  @keyframes opacity {
    from { opacity: 0.5; }
    to   { opacity: 0;   }
  }
</style>
