---
import Card from "./Card.astro";
import Slider from "./Slider.astro";

export interface Post {
  title: string;
  subtitle: string;
  thumbnail: string;
  link: string;
  date: Date;
}

interface Props {
  title: string;
  subtitle?: string;
  posts: Post[];
  numPosts: number;
  key: string;
}

const { title, subtitle, posts, numPosts, key } = Astro.props;
const newestPosts = posts
  .sort((a, b) =>  b.date.getTime() - a.date.getTime())
  .slice(0, numPosts);
---

<section class="recent-posts">

  <h2 class="section-title">{title}</h2>
  {subtitle && <div class="title-container"><p class="section-subtitle">{subtitle}</p></div>}
  <div class="posts-container">
    {newestPosts.map((post) => <Card {...post} />)}
  </div>
  <div class="posts-container-mobile">
    <Slider posts={newestPosts} key={key}/>
  </div>
</section>

<style>
  .title-container{
    width:100%;
  }
  .recent-posts {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
  }

  .section-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
  }

  .section-subtitle {
    max-width: 700px;
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .posts-container {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
  }

  .posts-container-mobile {
    display: block;
  }
  @media (min-width: 750px) {
    .posts-container{
      display: grid;
    }
    .posts-container-mobile {
      display: none;
    }
  }
</style>
