site_url: https://blokade.org
logo_url: https://blokade.org/favicon.ico

media_folder: "/src/assets/images/"
public_folder: "@assets/images/"

locale: sr

backend:
  name: github
  repo: blokada-rs/sajt
  branch: to-publish

output:
  omit_empty_optional_fields: true

i18n:
  structure: multiple_folders
  locales: [sr, en]
  default_locale: sr
  save_all_locales: false

collections:
  - name: "stranice"
    label: "Stranice"
    i18n: true
    files:
      - label: "Početna"
        name: "pocetna"
        file: "src/content/stranice/{{locale}}/početna.md"
        create: false
        i18n: true
        fields:
          - { label: "Opis", name: "body", widget: "markdown", i18n: true }

      - label: "O Blokadama"
        name: "o-blokadama"
        file: "src/content/stranice/{{locale}}/o-blokadama.md"
        create: false
        i18n: true
        fields:
          - { label: "Tekst", name: "body", widget: "markdown", i18n: true }
      
      - label: "Zahtevi"
        name: "zahtevi"
        file: "src/content/stranice/{{locale}}/zahtevi.md"
        create: false
        i18n: true
        fields:
          - { label: "Naslov", name: "naslov", widget: "string", i18n: true }
          - label: "Zahtevi"
            label_singular: 'Zahtev'
            name: "zahtevi"
            widget: "list"
            i18n: true
            fields:
              - { label: "Originalni oblik", name: "original", widget: "string", i18n: true }
              - { label: "Konkretizacija", name: "konkretizacija", widget: "markdown", i18n: true }
          - { label: "Tekst", name: "body", widget: "markdown", i18n: true }

      - label: "Zaglavlje"
        name: "zaglavlje"
        file: "src/content/stranice/{{locale}}/zaglavlje.md"
        create: false
        i18n: true
        fields:
          - label: "Naslov"
            name: "naslov"
            widget: "string"
            i18n: true

          - label: "Linkovi"
            label_singular: 'Link'
            name: "linkovi"
            widget: "list"
            i18n: true
            fields:
              - { label: "Naslov", name: "naziv", widget: "string", i18n: true }
              - { label: "Link", name: "link", widget: "string", i18n: true }

      - label: "Ostalo"
        name: "ostalo"
        file: "src/content/stranice/{{locale}}/ostalo.md"
        create: false
        i18n: true
        fields:
          - { label: "Naslov", name: "naslov", widget: "string", i18n: true }
          - { label: "Akcije", name: "akcije", widget: "string", i18n: true }
          - { label: "Vesti", name: "vesti", widget: "string", i18n: true }
          - { label: "Kontakt", name: "kontakt", widget: "string", i18n: true }
          - { label: "Live", name: "live", widget: "string", i18n: true }
          - { label: "Studenti u blokadi", name: "studenti_u_blokadi", widget: "string", i18n: true }
          - { label: "Kontakti pojedinačnih fakulteta", name: "pojedinacni_fakulteti", widget: "string", i18n: true }

  - name: "linkovi"
    label: "Linkovi"
    folder: "src/content/linkovi"
    create: true
    identifier_field: link

    sortable_fields:
      fields: [pubDate]
      default:
        field: pubDate
        direction: descending
    fields:
      - label: "link"
        name: "link"
        widget: "string"

      - label: "Linkovi"
        label_singular: 'Link'
        name: "linkovi"
        widget: "list"
        summary: "{{naslov}}"
        fields:
          - label: "Ikonica"
            name: "ikonica"
            widget: "select"
            options:
              - { label: "Bez", value: "bez" }
              - { label: "Sajt", value: "web" }
              - { label: "Instagram", value: "instagram" }
              - { label: "Twitter", value: "twitter" }
              - { label: "Facebook", value: "facebook" }
              - { label: "YouTube", value: "youtube" }
              - { label: "Viber", value: "viber" }
              - { label: "Vesti", value: "newspaper" }
              - { label: "Donacije", value: "hand-coin" }
            default: "Bez"

          - { label: "Naslov", name: "naslov", widget: "string", i18n: true }
          - { label: "Link", name: "link", widget: "string", i18n: true }

  - name: "vesti"
    label: "Vesti"
    folder: "src/content/vesti"
    create: true
    i18n: true
    slug: '{{fields.link}}'

    sortable_fields:
      fields: [pubDate]
      default:
        field: pubDate
        direction: descending
    fields:
      - { label: "Link", name: "link", widget: "string", i18n: "duplicate" }
      - { label: "Naslov", name: "title", widget: "string", i18n: true }
      - { label: "Lajv", name: "live", widget: "boolean", i18n: "duplicate", default: false }
      - label: "Status"
        name: "draft"
        widget: "select"
        options:
          - { label: "Uređivanje", value: "uredjivanje" }
          - { label: "Lekturisanje", value: "lekturisanje" }
          - { label: "Prevođenje", value: "prevodjenje" }
          - { label: "Spremno", value: "spremno" }
        default: "uredjivanje"
      - { label: "Datum objavljivanja", name: "pubDate", widget: "datetime", picker_utc: true, i18n: "duplicate" }
      - { label: "Datum izmene", name: "updatedDate", widget: "datetime", picker_utc: true, i18n: "duplicate", required: false }
      - { label: "Glavna slika", name: "heroImage", widget: "image", i18n: "duplicate" }
      - { label: "Opis", name: "description", widget: "text", i18n: true, required: false }
      - { label: "Tekst", name: "body", widget: "markdown", i18n: true }
      - label: Tajmlajn
        name: timeline
        widget: list
        add_to_top: true
        required: false
        fields:
          - { label: "Naslov", name: "naslov", widget: "string" }
          - { label: "Datum", name: "datum", widget: "datetime", picker_utc: true }
          - { label: "Video ID", name: "video", widget: "string", required: false }
          - label: "Slike"
            name: "slike"
            widget: "list"
            field: { label: "Slike", name: "slike", widget: "image" }
            required: false
          - { label: "Tekst", name: "tekst", widget: "markdown", required: false }


  - name: "akcije"
    label: "Akcije"
    folder: "src/content/akcije"
    create: true
    i18n: true
    slug: '{{fields.link}}'

    sortable_fields:
      fields: [pubDate]
      default:
        field: pubDate
        direction: descending
    fields:
      - { label: "Link", name: "link", widget: "string", i18n: "duplicate" }
      - { label: "Naslov", name: "title", widget: "string", i18n: true }
      - label: "Status"
        name: "draft"
        widget: "select"
        options:
          - { label: "Uređivanje", value: "uredjivanje" }
          - { label: "Lekturisanje", value: "lekturisanje" }
          - { label: "Prevođenje", value: "prevodjenje" }
          - { label: "Spremno", value: "spremno" }
        default: "Uređivanje"
      - { label: "Datum akcije", name: "pubDate", widget: "datetime", picker_utc: true, i18n: "duplicate" }
      - { label: "Glavna slika", name: "heroImage", widget: "image", i18n: "duplicate" }
      - { label: "Opis", name: "description", widget: "text", i18n: true, required: false }
      - { label: "Tekst", name: "body", widget: "markdown", i18n: true }
